{% extends 'base.html' %}  
{% load static %} 
{% block content %}

<div class="page-header">
  <h1>Delete Employee?</h1>
  <img src="{% static 'images/employee-icon.svg' %}" alt="Employee icon" />
</div>

<h2>Are you sure you want to delete {{ employee.name }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'employee-detail' employee.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}