{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/employees/employee-detail.css' %}" />
{% endblock %}
{% block content %}

<div class="page-header">
  <h1>{{ employee.name }}</h1>
  <img src="{% static 'images/employee-icon.svg' %}" alt="Employee icon" />
</div>

<div class="employee-info">
  <p>{{ employee.description }}</p>
  <p>Age: {{ employee.age }}</p>
</div>

<div class="tasks-container">
  <section class="tasks">
    <div class="subsection-title">
      <h2>Tasks</h2>
      <img src="{% static 'images/task-icon.svg' %}" alt="Task icon" />
    </div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Task</th>
          <th>Priority</th>
        </tr>
      </thead>
      <tbody>
        {% for task in employee.task_set.all %}
          <tr>
            <td>{{ task.date }}</td>
            <td>{{ task.task }}</td>
            <td>{{ task.get_priority_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}